.node {
    background: #555;
    border: 1px solid #999;
    border-radius: 5px;
    display: flex;
    min-width: 300px;
    min-height: 180px;
    position: absolute;
}

.node_contents {
    flex: 1;
}

.node_inputs,
.node_outputs {
    list-style-type: none;
    padding: 1rem 0;
    width: 12px;
}
.node_inputs > * + *,
.node_outputs > * + * {
    margin-top: .5rem;
}

.node_inputs {
    margin: 0 0 0 -6px;
}
.node_outputs {
    margin: 0 -6px 0 0;
}

.node_input,
.node_output {
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.node_input {
    background: red;
}
.node_output {
    background: blue;
}
